<style>
  strong {
    color: white;
    margin-right: 7em;
  }
</style>
<header id="main-header">
  <div id="logo">
    <a href="/">MyBlog</a>
  </div>
  <nav>
    <ul>
      <li>
        <strong>Welcome back <%= name%>!</strong>
      </li>
      <li>
        <a href="/posts">All Posts</a>
      </li>
      <li>
        <a href="/new-post">Create Post</a>
      </li>
    </ul>
  </nav>
</header>
