<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Login</title>
  </head>

  <body>
    <main id="login">
      <div class="container">
        <form action="/login" method="POST">
          <label for="name"><b>Username</b></label>
          <br />
          <input
            type="text"
            placeholder="Enter Username"
            name="name"
            required
          />
          <br />
          <label for="password"><b>Password</b></label>
          <br />
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          />
          <button type="submit">Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
